.minions_register_image {
  background: url(./../../../assets/images/register_image.png);
  background-size: cover;
  width: 18vw;
  height: 23vw;
  margin-bottom: 10%;
}
.title_register {
  align-content: center;
  padding-top: 10vw;
  font: bold 4.7em Segoe UI;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
